<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRIPTO RANK</title>

    <link rel="stylesheet" href="/src/styles/style.css">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>

</head>
<body>

    <header id="header">
        <div class="container__header">
            <div class="container__nav">
                <nav id="nav">
                    <ul>
                        <li><a href="./index.html" class="select">HOME</a></li>
                        <li><a href="./coins.html">Coins</a></li>
                        <li><a href="#">Markets</a></li>
                        <li><a href="#">History</a></li>
                    </ul>
                </nav>
                <div class="btn__menu" id="btn_menu"><i class="fas fa-bars"></i></div>
            </div>
        </div>
    </header>

    <div class="container_all" id="container__all">
        <div class="cover">

            <div class="bg_color"></div>
            <div class="wave w1"></div>
            <div class="wave w2"></div>

            <div class="container__cover">
                <div class="container__info">
                    <h1>CRIPTO</h1>
                    <h2>INFORMATION</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non aut impedit ea debitis ab, amet ipsa ipsum odio magnam voluptatem dicta praesentium obcaecati facilis, nulla fugiat itaque repellendus eaque tempora.</p>
                </div>
                <div class="container__vector">
                    <img src="/src/images/[removal.ai]_tmp-62d5767b631b0.png" alt="">
                </div>
            </div>
        </div>



        

        <!-- Aquí comienza el código -->

        <div class="body__page">

            <div class="container__card">

                <div  class="card c1">
                    <div  class="icon">
                        <i class="fa-brands fa-bitcoin"></i>
                    </div>
                    <div class="info__description">
                        <p>Price: </p>
                        <p id="btc"></p>
                    </div>
                </div>

                <div class="card c2">
                    <div class="icon">
                        <i class="fa-brands fa-ethereum"></i>
                    </div>
                    <div class="info__description">
                        <p>Price: </p>
                        <p id="eth"></p>
                    </div>
                </div>

                <div class="card c3">
                    <div class="icon">
                        <i class="fa-solid fa-p"></i>
                    </div>
                    <div class="info__description">
                        <p>Price: </p>
                        <p id="dot"></p>
                    </div>
                </div>

                

            </div>

        </div>
        
        <!--FIN DEL CÓDIGO-->

</div>
    <script src="/src/assets/home.js"></script>
    <script src="/src/assets/script.js"></script>
</body>
</html>